<!-- JS Plugins -->
<script src="{{site.baseurl}}/plugins/jQuery/jquery.min.js"></script>
<script src="{{site.baseurl}}/plugins/bootstrap/bootstrap.min.js" async></script>
<script src="{{site.baseurl}}/plugins/slick/slick.min.js"></script>

<!-- Main Script -->
<script src="{{site.baseurl}}/js/script.js"></script>

<script>
    !function(t,e,a,n){function c(){if(!e.getElementById(a)){var t=e.getElementsByTagName(n)[0],c=e.createElement(n);c.type="text/javascript",c.async=!0,c.src="https://cdn.taku-app.com/js/latest.js",t.parentNode.insertBefore(c,t)}}if("function"!=typeof t.Taku){var s=function(){s.q.push(arguments)};s.q=[],t.Taku=s,"complete"===e.readyState?c():t.attachEvent?t.attachEvent("onload",c):t.addEventListener("load",c,!1)}}(window,document,"taku-js","script");
    window.Taku('news:boot', {
      api_public_key: "87b7c1b143a67ffb1b95dba6c9581372",
    });
  </script>